<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      autoReload="true" 
      internalLogLevel="info" 
      internalLogFile="!nlog-internal.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  
  <!-- the targets to write to -->
	<targets>
    
    <!-- Output / Debugger -->
    <!-- [NLOG] 11:28:09.706 - 1 - One Smart Site - Debug Main Initialised. -->
    <target name="output" xsi:type="Debugger" layout="[NLOG] ${time} - ${threadid} - ${logger} - ${level} ${message} ${exception}"/>

    <!-- Log File (Application Logs) -->
    <target name="file" xsi:type="File" fileName="logs/!nlog-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}| ${message} ${exception:format=ToString} |url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
    
		<!-- Log File (All Logs) -->
		<target name="file-all" xsi:type="File" fileName="logs/!nlog-all-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}| ${message} ${exception}" />

    <!-- Crickets... -->
    <target xsi:type="Null" name="blackhole" />
    
	</targets>

	<rules>
    
    <logger name="*" minlevel="Trace" writeTo="file-all" />
        
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" /> <!-- Skip Microsoft logs and so log only own logs -->

    <logger name="*" minlevel="Trace" writeTo="output" />
    
    <logger name="*" minlevel="Trace" writeTo="file" />

  </rules>
</nlog>